body{
    background-color: tomato;
}
h1{
    text-align: center;
    bottom:0;
}
input[type="button"]{
    font-size:small;
    border-radius: 10px;
    padding: 12px;
    font-family:Consolas;
    background-color: tomato;
}
input[type="button"]:hover{
    border-radius: 10px;
    padding: 20px;
    font-family:Consolas;
    background-color: DeepSkyBlue;
    transition: padding 0.5s ease;
}

.boton{
    text-align: center;
}
#campoFrase{
    font-size: xx-large;
    color: white;
    text-align:center;
}
.izquierda{
    position: relative;
    text-align: left;
    margin-right: 0;
    float: left;
}
.derecha{
    position: relative;
    text-align: right;
    margin-top:0;
}
