*{
    color: black
}
body{
    background-color: Tomato;
}
h1{
    text-align: center;
    bottom:0;
}
input[type="button"]{
    font-size:small;
    border-radius: 10px;
    padding: 12px;
    font-family:Consolas;
    background-color: tomato;
}
input[type="button"]:hover{
    border-radius: 10px;
    padding: 20px;
    font-family:Consolas;
    background-color: DeepSkyBlue;
    transition: padding 0.5s ease;
}
.nums{
    width: 100px;
    border-radius: 12px;
}
.nums:hover{
    background-color: tomato;
    transition: background-color 0.5s ease;
}
.calculadora{
    text-align: center;
}
.botonesFrases{
    text-align: center;
}
#campo{
    font-size: xx-large;
    color: white;
    text-align:center;
}
.izquierda{
    position: relative;
    text-align: left;
    margin-right: 0;
    float: left;
}
.derecha {
    position: relative;
    text-align: right;
    margin-left: 880px;
}
.derecha *,.izquierda *{
    text-align:center
}
footer{
    color:tomato;
    background-color:#333;
    text-align: center;
    font-size:40px;
}