
*{
    font-family:'Luckiest Guy', cursive;
    list-style: square;
    margin:0;
    padding:0;
}
.indicador{
    margin-top:30px;
}

header{
    background-color: #333;
    height: 120px;
    padding:10px;
    line-height: 60px;
}
#logotipo{
    width: 120px;
    height:120px;
    float:right;
    margin-right:350px;
}
#slogan{
    text-align: center;
    font-size:35px;
    margin-bottom:10px;
}
#titulo{
    font-family: 'Bungee', cursive;
    font-size: 40px;
    float:left;
    margin-left:500px;
    text-shadow: 0px 0px 0px transparent;
}
span.bigLetterTitle{
    font-size:70px;
    font-family:'Luckiest Guy', cursive;
}
h1{
    text-align: center;
    bottom:0;
    color:#333;
    font-family:'Luckiest Guy', cursive;
    text-shadow: 0px 0px 5px white;
}
input[type="button"]{
    font-size:small;
    border-radius: 10px;
    padding: 12px;
    color:#333;
    text-shadow: 0px 0px 5px white;
    cursor:pointer
}
input[type="button"]:hover{
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
    transition: padding 0.5s ease;

}
.nums{
    width: 100px;
    color:#333;
    text-shadow: 0px 0px 5px white;
    border-radius: 12px;
}

.calculadora{
    text-align: center;
}
.botonesFrases{
    clear:both;
    margin:0px auto;
    width:200px;
}
.botonesFrases * {
    text-align: center;
    margin: 0px auto;
    width: 100%;
    margin-top:5px;
    margin-bottom: 5px;
}

#campo{
    font-size: xx-large;
    color: white;
    text-align:center;
    height:100px;
}
.izquierda{
    position: relative;
    text-align: left;
    margin-left: 60px;
    float: left;
    text-align: justify;
}
.derecha {
    position: relative;
    float: right;
    text-align: justify;
    margin-right: 60px;
}
.izquierda,.derecha{
    width:300px;
}
.derecha *,.izquierda *{
    text-align:center;
    color:#333;
    text-shadow: 0px 0px 5px white;
}
footer{

    background-color:#333;
    text-align: center;
    font-size:40px;
}
input[type="number"]{
    text-align: center;
}

#colorChoose{
    position: fixed;
    top:40%;
    left:0px;
    width: 70px;
    height:140px;
    background-color: rgba(51, 51, 51, 0.514);
}
#colorChoose #red{
    background-color:tomato;
}
#colorChoose #blue{
    background-color:deepskyblue;
}
#colorChoose #blue, #colorChoose #red{
    width: 90%;
    height: 40%;
    cursor: pointer;
    margin-left:3%;
    margin-top: 10%
}